@import url('header.css');
@import url('footer.css');
@import url('index.css');
@import url('sessao_anime_lista.css');
@import url('sessao_concluidos.css');
@import url('responsivo.css');
@import url('login.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(43, 43, 43)!important;
}

.centralizar {
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.bloco_1{
    width: 100%;
}

.bloco_2 {
    width: 50%;
}

.bloco_3{
    width: 33.3%;
}


