<div class="box display">
    <div class="footer-lado">
        <h3>Contato</h3>
        <p>Telefone: Hoje não</p>
        <p>Email: Hoje não</p>
    </div>

    <div class="footer-lado">
        <!-- <h3>Redes Sociais</h3> -->
        <ul>
            <li><a href="https://github.com/NewAgainn" target="_blank">
                    <h2><img class="icon" src="https://newagainn.github.io/imagens/icons/GitHub_icon.png">GitHub
                    </h2>
                </a></li>
        </ul>
    </div>
</div>
<p class="footer-info">© 2024 Ainda em desenvolvimento</p>