<footer>
    <div class="centralizar">
        <div class="bloco_2">
            <h3>Contato</h3>
            <p>Telefone: Hoje não</p>
            <p>Email: Hoje não</p>
        </div>

        <div class="bloco_2">
            <!-- <h3>Redes Sociais</h3> -->
            <ul>
                <li><a href="https://github.com/emerson-front" target="_blank">
                        <h2><i class="bi bi-github"></i> GitHub</h2>
                    </a></li>
            </ul>
        </div>
    </div>
    <p class="footer-info">© 2024 Desenvolvendo com carinho
        <i class="bi bi-activity"></i>
        <i id="coracao" class="bi bi-heart-fill"></i>
        <i class="bi bi-activity"></i>
    </p>

</footer>

<script>
    /* animação Coração do Footer */
    $(function () {
        let coracao = true;
        setInterval(function () {
            if (coracao) {
                $('#coracao').removeClass("bi-heart-fill").addClass("bi-heart-pulse");
            } else {
                $('#coracao').removeClass("bi-heart-pulse").addClass("bi-heart-fill");
            }
            coracao = !coracao;
        }, 2000);
    });

</script>

</body>

</html>